[submodule "scilla-mobile/src/libs/scijs"]
	path = scilla-mobile/src/libs/scijs
	url = git@github.com:InteractionEcologies/scijs.git
[submodule "scilla-mobile/src/libs/victory-native"]
	path = scilla-mobile/src/libs/victory-native
	url = https://github.com/InteractionEcologies/victory-native.git
