[submodule "scilla-mobile/src/libs/intecojs"]
	path = scilla-mobile/src/libs/intecojs
	url = https://github.com/InteractionEcologies/intecojs.git
[submodule "scilla-mobile.wiki"]
	path = scilla-mobile.wiki
	url = https://github.com/InteractionEcologies/scilla-mobile.wiki.git
