# Xcode
# ! indicates things that should not be ignored. 
!**/*.xcodeproj
!**/*.pbxproj
!**/*.xcworkspacedata
!**/*.xcsettings
!**/*.xcscheme
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
**/ios/build/

# Gradle
build/
RNTester/android/app/build/
RNTester/android/app/gradle/
**/*/RNTester/android/app/gradlew
**/*/RNTester/android/app/gradlew.bat
ReactAndroid/build/

# Buck
.buckd
buck-out
/ReactAndroid/src/main/jni/prebuilt/lib/armeabi-v7a/
/ReactAndroid/src/main/jni/prebuilt/lib/x86/
/ReactAndroid/src/main/gen

# Watchman
.watchmanconfig

# Android
.idea
.gradle/
local.properties
*.iml
/scilla-mobile/android/**/build/
/scilla-mobile/android/**/local.properties
/scilla-mobile/android/captures
/scilla-mobile/android/expoview/libs/ReactAndroid-temp
/scilla-mobile/android/versioned-react-native/ReactAndroid
ReactAndroid-temp.aar

# Node
node_modules
*.log
.nvm
/bots/node_modules/

# TODO: Check in yarn.lock in open source. Right now we need to keep it out
# from the GitHub repo as importing it might conflict with internal workspaces
yarn.lock
package-lock.json

# Dynamic Macros
EXBuildConstants.json
EXBuildConstants.plist
EXBuildConstants.plist.bak
/scilla-mobile/android/expoview/src/main/java/host/exp/exponent/generated/ExponentBuildConstants.java
/scilla-mobile/android/app/src/androidTest/java/host/exp/exponent/generated/TestBuildConstants.java
.kernel-ngrok-url

# Template files
/scilla-mobile/android/app/src/main/AndroidManifest.xml
# I might need this
# /scilla-mobile/android/app/google-services.json  
/scilla-mobile/android/expoview/src/main/java/host/exp/exponent/generated/ExponentKeys.java
/scilla-mobile/android/app/fabric.properties
/scilla-mobile/ios/Exponent/Generated/EXKeys.h
/scilla-mobile/ios/ExponentIntegrationTests/EXTestEnvironment.plist
/exponent-view-template/ios/Podfile

# OS X
.DS_Store
/scilla-mobile/ios/Pods/

# Test generated files
/ReactAndroid/src/androidTest/assets/AndroidTestBundle.js
*.js.meta

/coverage
/third-party

# Root dir shouldn't have Xcode project
/*.xcodeproj

# ReactCommon subdir shouldn't have Xcode project
/ReactCommon/**/*.xcodeproj

# Expo 
.expo
**/.expo/packager-info.json

# VSCode
.vscode